[submodule "doc_mini_rss_reader-c4"]
	path = doc_mini_rss_reader-c4
	url = https://github.com/coundia/doc_mini_rss_reader-c4
[submodule "mini-rss-reader"]
	path = mini-rss-reader
	url = https://github.com/coundia/mini-rss-reader
